header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.topSection {
  display: flex;
}

.topSectionImg {
  width: auto;
  height: 300px;
  border-radius: 1rem;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  object-fit: cover;
}

footer {
  display: flex;
  justify-self: center;
}